/* **************************************************login******************************************** */
.login-wrapper {
  padding-block: 50px;
  padding-left: 70px;
}
.btn {
  background-color: transparent !important;
  border-color: black !important;
}

/* **************************************************loginForm******************************************** */
.max-form {
  max-width: 500px;
}
.dark-bdr-fill {
  background-color: #edf0f2;
  border-color: #8f8f8f;
  border-radius: 5px;
  padding-block: 12px;
  height: auto;
}
.link-blue {
  color: #1366d9;
}
.blue-btn {
  background-color: #1366d9 !important;
  border-color: #8f8f8f !important;
  padding-block: 12px;
}

/* ********************************************SignUpComponent************* */
.signup-block {
  padding-block: 50px;
  padding-right: 10px;
}
.font-weight-semibold {
  font-weight: 500;
}

/* ******************************media screens*********************** */
@media screen and (min-width: 1200px) {
  .login-wrapper {
    padding-left: 70px;
  }
}
@media screen and (max-width: 992px) {
  .login-wrapper {
    padding-left: 70px;
  }
}
@media screen and (min-width: 768px) {
  .login-wrapper {
    padding-left: 50px;
  }
}
@media screen and (min-width: 576px) {
  .login-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .max-form {
    max-width: 100%;
  }
  .signup-block {
    padding-left: 20px;
  }
}
@media screen and (max-width: 576px) {
  .login-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .signup-block {
    padding-left: 10px;
  }
}
